body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(249, 134, 44 ,1);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  @media screen and (max-width: 600px) {
    li {
      float: none;
      width: 100%;
    }
  }

  h1{
    color: rgba(249, 134, 44 ,1);
  }
  .mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 20px;
    margin: 0px;
    width: 20px;
    }

    #donlowd{
      background-color: rgba(249, 134, 44 ,1);
      margin: 0px 10px;

    }
    #registarCliente{
      text-transform: uppercase;
      border: none;
      font-size: 0.875rem;
      color: #ffffff;
      font-weight: bold;
      background-color: #f9862c;
      width: 20%;
      padding: 0.500rem 0rem;
      border-radius: 1.5rem;
      box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
      cursor: pointer;
    }
    .cartas{
      border-radius: 2.5rem;
      border: #f9862c solid 1px;
      background-color: #ecf0f3;
      box-shadow: 13px 13px 20px rgba(249, 134, 44 ,0.5), -13px -13px 20px #ffffff;
      color: black;
    }