<div id="body">
    <div class="text-center" style="margin-top: 25px;">
        <h1>Consultar Cortes Historicos</h1>
    </div>
    <div class="col-lg-12" ng-controller="tablecontroller">
        <div class="search-name">
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="on"
                placeholder=" SEARCH  ">
        </div>
        <div class="table-responsive " style="margin-top: 15px;">
            <div class="table-responsive " style="margin-top: 10px;">
                <table class="table table-bordered " id="Tabla">
                    <thead>
                        <tr>
                            <th class="text-center" style="width: 25%;">#</th>
                            <th class="text-center" style="width: 25%;">Monto</th>
                            <th class="text-center" style="width: 25%;">Fecha</th>
                            <th class="text-center" style="width: 25%;">Acciones</th>

                        </tr>
                    </thead>
                    <tbody ng-animate="'animate'" *ngFor="let corte of cortes | filter:searchText | paginate: { itemsPerPage: 7, currentPage: page };  index as i " data-index="#i">
                        <tr>
                            <td class="numero_cliente text-center">{{i+1}} </td>
                            <td class="numero_cliente text-center">{{corte.monto}}</td>
                            <td class="numero_cliente text-center">{{corte.fecha}}</td>
                            <td class="text-center"><button type="button" class="btn btn-circle-table " id="donlowd" (click)="corteDetalle(corte.id)" ><mat-icon id="mat-icon">search</mat-icon></button></td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="page = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
            </div>
        </div>
    </div>
</div>