body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(249, 134, 44 ,1);
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  @media screen and (max-width: 600px) {
    li {
      float: none;
      width: 100%;
    }
  }

  h1{
    color: rgba(249, 134, 44 ,1);
  }

  #montoCorte{
    font-size: 2rem;

  }

  #MontodeCorteText{
    font-size: 3rem;
  }

  #Fecha{
    font-size: 1rem;

  }